<h1>Grunt Bourbon Neat Boilerplate</h1>
<p>Welcome to my responsive boilerplate! I've created this template for myself to help jump-start my web development process. This boilerplate runs on <a href="http://gruntjs.com/">Grunt</a> and <a href="http://bower.io/">Bower</a> while utilizing the following libraries:</p>
<ul>
  <li><a href="http://assemble.io/">Assemble</a></li>
  <li><a href="http://bourbon.io/">Bourbon</a></li>
  <li><a href="http://neat.bourbon.io/">Neat</a></li>
  <li><a href="http://requirejs.org/">RequireJS</a></li>
  <li><a href="http://modernizr.com/">Modernizr</a></li>
  <li><a href="http://jquery.com/">jQuery</a></li>
</ul>
<a href="https://github.com/miguelsolorio/Grunt-Bourbon-Neat-Boilerplate.git" class="button">View Repo on Github</a>