---
title: Grunt Bourbon Neat Boilerplate
description: A very simple boilerplate to jump-start your web development.
---

<div class="container">

  <div class="section">
    {{> header }}
  </div>

  <div class="section">
    <h1>File Structure</h1>

    <h2>HTML</h2>
    <p>All pages can be found under <span class="label">src > template > pages</span> which use the default layout template found under <span class="label">src > template > layouts > default.hbs</span></p>
    <p>You can also find all partials under <span class="label">src > template > partials > *.hbs</span></p>

    <h2>SASS</h2>
    <p>All CSS dependencies are imported at <span class="label">src > css > main.scss</span></p>

    <h2>JavaScript</h2>
    <p>RequireJS handles all dependencies and are defined at <span class="label">src > js > config.js</span> and included at <span class="label">src > js > app.js</span></p>
  </div>

  <div class="section">
    <h1>Build for Production</h1>
    <h2>Grunt Build</h2>
    <p>When you're ready to build for production simply run: <span class="label">grunt build</span> and your files will be minified under the <span class="label">_public</span> directory.</p>
  </div>

</div>