---
title: Grunt Bourbon Neat Boilerplate
description: A very simple boilerplate to jump-start your web development.
---

<div class="container">

  <div class="section">
    <h1>Grunt Bourbon Neat Boilerplate</h1>
    <p>Welcome to my responsive boilerplate! I've created this template for myself to help jump-start my web development process. This boilerplate runs on <a href="http://gruntjs.com/">Grunt</a> and <a href="http://bower.io/">Bower</a> while utilizing the following libraries:</p>
    <ul>
      <li><a href="http://assemble.io/">Assemble</a></li>
      <li><a href="http://bourbon.io/">Bourbon</a></li>
      <li><a href="http://neat.bourbon.io/">Neat</a></li>
      <li><a href="http://requirejs.org/">RequireJS</a></li>
      <li><a href="http://modernizr.com/">Modernizr</a></li>
      <li><a href="http://jquery.com/">jQuery</a></li>
    </ul>
    <a href="https://github.com/miguelsolorio/Grunt-Bourbon-Neat-Boilerplate.git" class="button">View Repo on Github</a>
  </div>

  <div class="section">
    <h1>File Structure</h1>
    <h2>HTML</h2>
    <p>All pages can be found under <span class="label">src > template > pages</span> which use the default layout template found under <span class="label">src > template > layouts > default.hbs</span></p>
    <h2>SASS</h2>
    <p>All CSS dependencies are imported at <span class="label">src > css > main.scss</span></p>
    <h2>JavaScript</h2>
    <p>RequireJS handles all dependencies and are defined at <span class="label">src > js > config.js</span> and included at <span class="label">src > js > app.js</span></p>
  </div>

  <div class="section">
    <h1>Build for Production</h1>
    <h2>Grunt Build</h2>
    <p>When you're ready to build for production simply run: <span class="label">grunt build</span> and your files will be minified under the <span class="label">_public</span> directory.</p>
  </div>

</div>