//=======================
//  Grid Settings
//=======================

@import "../../bower_components/neat/app/assets/stylesheets/neat-helpers"; // or "neat-helpers" when in Rails

// Grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(950);

// Breakpoints
$large: new-breakpoint(max-width 950px 12);
$medium: new-breakpoint(max-width 768px 8);
$small: new-breakpoint(max-width 480px 4);

// Omega reset
$fg-column: $column;
$fg-gutter: $gutter;

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}